name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run build
        run: |
          echo "Running build..."
          # Simulate error
          # exit 1

      - name: Collect Run Info
        id: info
        run: |
          echo "user=${{ github.actor }}" >> $GITHUB_OUTPUT
          echo "time=$(date -u)" >> $GITHUB_OUTPUT
          echo "project_name=${{ github.repository_owner }}" >> $GITHUB_OUTPUT
          echo "repo_name=${{ github.repository }}" >> $GITHUB_OUTPUT
          echo "run_id=${{ github.run_id }}" >> $GITHUB_OUTPUT
          echo "run_number=${{ github.run_number }}" >> $GITHUB_OUTPUT
          echo "workflow_name=${{ github.workflow }}" >> $GITHUB_OUTPUT
          echo "status=${{ github.event.workflow_run.conclusion }}" >> $GITHUB_OUTPUT

      - name: Send Webhook to Teams Flow
        run: |
          STATUS="success"
          if [ "${{ job.status }}" != "success" ]; then
            STATUS="failed"
          fi
          
          TIME=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          
          curl -X POST \
          -H "Content-Type: application/json" \
          -d '{
                "attachments": [
                  {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "content": {
                      "user": "${{ steps.info.outputs.user }}",
                      "time": "$TIME",
                      "project_name": "${{ steps.info.outputs.project_name }}",
                      "repo_name": "${{ steps.info.outputs.repo_name }}",
                      "workflow_name": "${{ steps.info.outputs.workflow_name }}",
                      "run_id": "${{ steps.info.outputs.run_id }}",
                      "run_number": "${{ steps.info.outputs.run_number }}",
                      "status": "${{STATUS}}",
                      "branch":"${{ github.ref_name }}"
                    }
                  }
                ]
              }' \
          "https://default624e7232a3b54b26911ec1886eb5be.42.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/67e4344eac42421ab0f7429b963d4985/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fjk9ds9PtEF9jYdREfqHAcQlDRLqL1xU1HzY35PYdqU"
