name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run build
        run: |
          echo "Running build..."
          # Simulate error
          # exit 1

      - name: Collect Run Info
        id: info
        run: |
          echo "user=${{ github.actor }}" >> $GITHUB_OUTPUT
          echo "time=$(date -u)" >> $GITHUB_OUTPUT
          echo "project_name=${{ github.repository_owner }}" >> $GITHUB_OUTPUT
          echo "repo_name=${{ github.repository }}" >> $GITHUB_OUTPUT
          echo "run_id=${{ github.run_id }}" >> $GITHUB_OUTPUT
          echo "run_number=${{ github.run_number }}" >> $GITHUB_OUTPUT
          echo "workflow_name=${{ github.workflow }}" >> $GITHUB_OUTPUT
          echo "status=${{ github.event.workflow_run.conclusion }}" >> $GITHUB_OUTPUT

      - name: Send Webhook to Teams Flow
        run: |
          curl -X POST \
          -H "Content-Type: application/json" \
          -d '{
                "user": "${{ steps.info.outputs.user }}",
                "time": "${{ steps.info.outputs.time }}",
                "project_name": "${{ steps.info.outputs.project_name }}",
                "repo_name": "${{ steps.info.outputs.repo_name }}",
                "workflow_name": "${{ steps.info.outputs.workflow_name }}",
                "run_id": "${{ steps.info.outputs.run_id }}",
                "run_number": "${{ steps.info.outputs.run_number }}",
                "status": "${{ steps.info.outputs.status }}",
                "url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
              }' \
          https://default624e7232a3b54b26911ec1886eb5be.42.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/31e04e99b96545d8b8181ad7483ffc72/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Z0pjE1NBl-gws9ZkwB0p3poorhJRxrMzelKgCQBDxHo
